<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%p] - %l %m%n" />
        </layout>
    </appender>

    <appender name="fileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="log/last.log"/>
        <param name="append" value="false" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%p] - %l %m%n" />
        </layout>
    </appender>

    <logger name="enricher">
        <level value="DEBUG"/>
    </logger>

    <logger name="slick">
        <level value="WARN"/>
    </logger>

    <logger name="com.zaxxer.hikari">
        <level value="WARN"/>
    </logger>

    <root>
        <priority value ="debug"/>
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </root>

</log4j:configuration>